output/analyses/MODEL1_CHAIN_1.RData
output/analyses/MODEL1_CHAIN_2.RData
output/analyses/MODEL2_CHAIN_1.RData
output/analyses/MODEL2_CHAIN_2.RData
output/analyses/MODEL4_CHAIN_1.RData
output/analyses/MODEL4_CHAIN_2.RData
